<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Reminder App</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Task Reminder App</h1>
        <form id="taskForm">
            <div class="form-group">
                <label for="title">Tarea a recordar:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="reminder_time">Hora de recordatorio:</label>
                <input type="datetime-local" id="reminder_time" name="reminder_time" required>
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Añadir tarea</button>
        </form>

        <div id="message" style="display: none;"></div>

        <h2>Lista de tareas</h2>
        <ul id="taskList"></ul>
    </div>


    <script src="/static/js/script.js"></script>
</body>
</html>
